<div id="Header" class="row" style="float: right;margin-right: 15px; position: relative; z-index: 1100;">

    <select id = "Cumulative" name="Cumulative">
        <option value="Total">Total</option>
        <option value="New">New</option>
      </select>
    <p id="cumulateText" style="width: 280px;"> &nbsp; Tests, Cases, Deaths, ...</p>

    <div style="width: 100px;"></div>

    <p>Aggregate data &nbsp;</p>
    <select id = "Aggregate" name="Aggregate">
        <option value="D">by Day</option>
        <option value="M">by Month</option>
        <option value="Y">by Year</option>
      </select>

    <div style="width: 200px;"></div>

    <div id="testSVG" #testSVG  style="height: 100px; width:125px; overflow-x: hidden; position: absolute; left: 540px; top: 0px; z-index: 1000"></div>


</div>






