:host {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-container {
  margin-top: 55px;
  min-width:1400px
}


.webchat-container {
  height: 50%;//285px;
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  border: 3px solid #122e51;
  padding-right: 10px;
  z-index: 101;

}

.filter-container {
  height: 50%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  justify-content: flex-end;
  border: 1px solid #122e51;
  padding-right: 6px;
  z-index: 101;
  float: left;
}

.itl-container {
  display: none;
  flex-direction: column;
  border: 3px solid #122e51;
  border-bottom: 1px solid gray;
  overflow-x: scroll;
  width:70%;
  height: 56%;
}

.itl-pane{
  overflow-y: scroll;
  height: -webkit-fill-available;
}

.infoBox{
  overflow: visible;
  width:100%;
  height: fit-content;
  display: none;
  margin-bottom: 12px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 10px 32px 8px;
  position: relative;
  border: 1px solid rgb(218, 220, 229);
  box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 10px 0px;
  float: none;
}

.textField{
  width: 91%;
}


.arrow.bottom{
  position: absolute;
  z-index: 11;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left: 12px;
  border-top: 10px solid rgb(255, 208, 0);
  bottom: -12px;
}

.arrow.bottom.large{
  position: absolute;
  z-index: 10;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  left: 10px;
  border-top: 12px solid rgb(102, 102, 102);
  bottom: -14px;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 100px !important;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 3px;
  border:1px solid #555;
  border-radius: 6px;

  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  bottom: -45px;
  left: 30px;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.btn:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
span:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.connector{
  width: 30px;
  height: 30px;
  background-color: white;
  top: -20px;
  position: absolute;
  z-index: 100;
  left: 0px;
  text-align: center;
  color: #94969e;
}



.draggable {
  border:1px solid #122e51;
  width: max-content;
  height: max-content; 
  margin: 3px;
  padding: 0px 2px;
  background-color: gray;
  color: white
  //flex: 1 0 auto;
}

@keyframes append-animate-left {
	0% {transform: translate(-400px, 0px);}
  40% {transform: translate(-240px, 20px);}
  50% {transform: translate(-200px, 25px);}
  60% {transform: translate(-160px, 20px);}
	100% { transform: translate(0px, 0px); }
}

.left .draggable.animate{
  animation: append-animate-left .6s linear;
  background-color: black;
}

@keyframes append-animate-right {
	0% {transform: translate(400px, 0px);}
  40% {transform: translate(240px, 20px);}
  50% {transform: translate(200px, 25px);}
  60% {transform: translate(160px, 20px);}
	100% { transform: translate(0px, 0px); }
}

.right .draggable.animate{
  animation: append-animate-right .6s linear;
  background-color: black;
}


.col.animate{
  box-shadow: rgb(135, 122, 255) 0px 0px 10px 6px;
}




.interactiveField {
  position: relative;
  border: 1px solid #122e51; 
  margin-right: 30px; 
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 20;
}

.filterTitle{
  width:100%;
  display: flex;
}

.filterContent{
  width:85%;
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  text-align: center;
}

.filterSettings{
  width: 15%;
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  text-align: center;
}
.mouseBlock {
  height: 100vh; 
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1; 
  background-color: aliceblue; 
  opacity:0
}


.nopadding {
  padding-left: 0 !important;
  margin: 0 !important;
}



.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background-color: #8080808f;
  border: 3px solid #666666;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 200;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}


/* Style buttons */
.btn {
  background-color: gray; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 50px;
  width: 50px;
  background-size: 35px 35px; 
  background-repeat: no-repeat; 
  background-position: center
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* Darker background on mouse-over */
.btn.active {
  background-color: DodgerBlue;
}

.col{
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(83, 83, 83);
}

.col.closed {
  display: none;
}

.k-button {
  box-shadow: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 0;
}



/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  left:10px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left:-80px;
  top:25px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
}

/* Links inside the dropdown */
.dropdown-content select {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* ENDING DROPDOWN */
